.imgdangky {
     width: 200px;
    height: 50px;
    background-image: url('images/hoatiet_tieude.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    color: #060;
    font-weight: bold;
    margin-left: 524px;
    margin-top: 100px;
}
.dangky {
    width: 200px;
    margin: 0 auto;
    font-size: 12px;
}
.dong::after
{ 
	content: "";
	display: table;
    margin-top:20px;
	clear: both;
	width: 100%;
}
.column {
               float: left;
               color: #21610B;
               font-weight:bold;
               width : 30%;
               font-size:13pt;
              text-align:left;
              margin-left:300px;
               
               
           }
.clear {
    clear:both;
}
/*div {
    display:block;
}*/
th {
    
  font-family: quick sand;
  border-collapse: collapse;
  border: 1px solid #B40486;
  text-align: center;
  padding: 8px;
  font-size:18pt;
  color: #060;
}
td {
    font-weight:bold;
    font-family:quick sand;
    color:#0000FF;
     font-size:16pt;
}



/*tr:nth-child(even) {
  background-color: #dddddd;
}*/
.khungcart {
    width:100%;
    text-align:center;
    border:pink solid 1px;
    border-radius:10px;
    /*margin:auto;*/
    height:160px;
    
}
.macart {
    width:14%;
    float:left;
    text-align:center;
    border-right:pink solid 1px;
    height:150px;
    /*margin:auto;*/
    /*font-size:20px;*/
}
.anhcart {
    width:16%;
    float:left;
    text-align:center;
    border-right:pink solid 1px;
    height:150px;
    /*font-size:20px;*/
}
.tencart {
    width:16%;
    float:left;
    text-align:center;
    border-right:pink solid 1px;
    height:150px;
    /*margin:auto;*/ 
    /*font-size:20px;*/
}
.giacart {
    width:16%;
    float:left;
    text-align:center;
    height:150px;
    /*margin:auto;*/
    border-right:pink solid 1px;
    /*font-size:20px;*/
}
.slcart {
    width:16%;
    float:left;
    text-align:center;
    border-right:pink solid 1px;
    height:150px;
    font-size:20px;
}
.tongcart {
    width:14%;
    text-align:center;
    float:left;
    /*font-size:20px;*/
}
