<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="QLTIN" connectionString="Data Source=MSI\SQLEXPRESS; Initial Catalog=BTLON; User ID=sa; Password=0905213883 " />
    <add name="BTLON" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=BTLON;User ID=sa;Password=0905213883"
      providerName="System.Data.SqlClient" />
    <add name="BTMAU" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=BTLON;User ID=sa;Password=0905213883"
       />

  </connectionStrings>

</configuration>
